    <main id="main-content">
        <ng-container *ngIf="article() as a; else notFound">
            <article class="artikel">
                <div class="artikel-header">
                    <h1>{{ a.title }}</h1>
                    <div class="artikel-meta">
                        Von <span class="meta-author">{{ a.author }}</span> | {{ formatDate(a.date) }}
                    </div>
                    <div class="artikel-tags" *ngIf="a.tags.length > 0">
                        <span *ngFor="let tag of a.tags" class="artikel-tag">{{ tag }}</span>
                    </div>
                </div>
                <img [src]="a.image" [alt]="a.imageAlt" class="artikel-bild">
                <div [innerHTML]="a.content"></div>
                <div class="artikel-back">
                    <a routerLink="/news" class="btn">Zurueck zur Uebersicht</a>
                </div>
            </article>

            <section class="kommentare" aria-label="Kommentare">
                <h2 class="kommentare-titel">Kommentare ({{ comments().length }})</h2>

                <div class="kommentar-liste" *ngIf="comments().length > 0">
                    <div *ngFor="let c of comments()" class="kommentar-karte">
                        <div class="kommentar-kopf">
                            <span class="kommentar-autor">{{ c.author }}</span>
                            <span class="kommentar-datum">{{ formatDate(c.date) }}</span>
                        </div>
                        <p class="kommentar-text">{{ c.text }}</p>
                    </div>
                </div>
                <p *ngIf="comments().length === 0" class="kommentar-leer">
                    Noch keine Kommentare. Sei der Erste!
                </p>

                <div class="kommentar-formular">
                    <h3>Kommentar schreiben</h3>
                    <div class="kommentar-erfolg" *ngIf="commentSubmitted()">
                        Dein Kommentar wurde gespeichert!
                    </div>
                    <div class="kommentar-fehler" *ngIf="commentError()">
                        {{ commentError() }}
                    </div>
                    <div class="formular-gruppe">
                        <label for="kommentar-name">Name *</label>
                        <input
                            type="text"
                            id="kommentar-name"
                            [(ngModel)]="commentAuthor"
                            placeholder="Dein Name"
                            maxlength="60">
                    </div>
                    <div class="formular-gruppe">
                        <label for="kommentar-text">Kommentar *</label>
                        <textarea
                            id="kommentar-text"
                            [(ngModel)]="commentText"
                            rows="4"
                            placeholder="Deine Meinung zum Artikel..."
                            maxlength="500"></textarea>
                    </div>
                    <button type="button" class="btn-kommentar" (click)="submitComment()">
                        Kommentar abschicken
                    </button>
                </div>
            </section>
        </ng-container>
        <ng-template #notFound>
            <div class="not-found">
                <h1>Artikel nicht gefunden</h1>
                <p>Der gesuchte Artikel existiert nicht.</p>
                <a routerLink="/news" class="btn">Zur Newsseite</a>
            </div>
        </ng-template>
    </main>
